.tabs {
  padding-bottom: 50px;
}
.tabs-container {
  background: hsl(100, 100%, 100%);
  padding: 15px 20px;
  display: flex;
  gap: 10px;
  border-radius: 8px;
}

.dark .tabs-container {
 background:#171F26;
}

.tabs-container button {
  cursor: pointer;
  transition: 0.3s;
  border-radius: 8px;
}

.dark .tabs-container button {
 color: #A3ABB2;
}

.tabs-container button:hover {
  background: #d7d7d7;
}

.dark .tabs-container button:hover {
 background: #0C151D;
}

.tabs-container .tab-active {
  background: #d7d7d7;
  border-radius: 8px;
  color: #19191B;
}

.dark .tabs-container .tab-active {
 background: #0C151D;
}

.tabs-container button {
  display: block;
  flex: 1;
  padding: 10px 0;
  border: none;
  background: transparent;
  font-size: 18px;
  font-weight: 500;
}
