@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

html, body {
  overflow-x: hidden;
  background: #e5e5e5;
  font-family: 'Poppins';
}

*, ::before, ::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}


.App{
  
}

.dark {
  background: #0C151D;
  font-family: 'Poppins';
  transition: 0.5s;
}